* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42em;
    background-color: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.btn {
    display: inline-block;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.btn_color_red {
    background-color: #F5170E;
    padding: 17px 40px;
}

.btn_color_red:hover {
    background-color: #DA0100;
}

.btn_color_white {
    background-color: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 15px 30px;
}

.btn_color_white:hover {
    background-color: #F5170E;
    color: #fff;
}

.btn_caption_look {
    padding: 15px 30px;
}

.main-page-wrapper {
    background: url("img/main.jpg") center top -9px no-repeat, url("img/main-bottom.jpg") center bottom 164px no-repeat;
}

.hero {
    margin-bottom: 259px;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.footer-container__content {
    border-top: 1px solid rgba(255,255,255,.1);
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 130px;
}

.logo {
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    position: absolute;
    top: 30px;
    left: 164px;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__freecall {
    color: #9A9A9A;
    font-size: 11px;
    font-weight: 400; 
    line-height: 1.8em;
}

.contacts-bottom .contacts__freecall {
    margin-top: -11px;
    margin-bottom: 7px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item_active .menu__link {
    color: #DA0100;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}


.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;
    padding-right: 2px;
}

.header {
    margin-bottom: 68px;
}

.hero__text-section {
    width: 511px;
}

.hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 139px;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 64px;
}

.tours__item {
    display: inline-block;
    min-height: 449px;
    width: 362px;
    margin-right: 23px;
    background: #fff;
    border-radius: 5px;
}

.tours__item:last-child {
    margin-right: 0;
}

.tours__header {
    min-height: 144px;
}

.tours__header-image {
    width: 362px;
    height: 144px; 
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.tours__content {
    padding: 33px 22px 22px;
}

.tours__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 26px;
}

.tours__conditions {
    color: #666;
    font-size: 16px;
    padding-left: 5px;
    margin-bottom: 23px;
}

.tours__conditions-cell {
    display: inline-block;
    vertical-align: top;
    width: 128px;
    margin-right: 21px;
}

.tours__conditions-cell:last-child {
    margin-right: 0;
}

.tours__icon, .tours__conditions-item {
    display: inline-block;
    vertical-align: middle;
}

.tours__icon {
    margin-right: 7px;
}

.tours__info {
    color: #303030;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5em;
}

.tours__btn-wrapper {
    text-align: left;
}

.section-news {
    margin-bottom: 146px;
}

.news {
    margin-bottom: 52px;
}

.news__item {
    width: 557px;
    min-height: 394px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 19px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__item-image {
    display: block;
    width: 100%;
    height: 394px;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 5px;
    top: 251px;
    padding: 0px 25px;
    min-height: 140px;
}

.news__date {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.news__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.news__info {
    font-size: 16px;
}

.pager {
    text-align: center;
    position: relative;
}

.pager__display, .pager__list, .pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 25px;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
}

.pager__item_active .pager__link, .pager__link:hover {
    background-color: #fff;
    color: #F5170E;
}

.section-about {
    margin-bottom: 55px;
}

.about::before, .about__content{
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.about::before {
    content: "";
    width: 490px;
    height: 505px;
    background: url("img/cyclist.jpg") center center / cover no-repeat;
}

.about__content {
    background: url("img/about-us.jpg") top right / cover no-repeat;
    width: 785px;
    min-height: 455px;
    padding: 83px 81px 66px;
    margin-left: -141px;
    margin-top: 97px;
}

.about__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 51px; 
}

.about__info {
    color: #060606;
    font-size: 16px;
    font-weight: 400; 
    line-height: 1.7em;
    padding-right: 121px;
    margin-bottom: 40px;
}

.about__info p {
    margin-bottom: 20px;
}

.about__info p:last-child {
    margin-bottom: 0;
}

.footer {
    height: 120px;
    position: relative;
    margin-top: 26px;
}

.s-networks {
    position: absolute;
    top: 24px;
    right: 265px;
}

.s-networks__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.s-networks__item:last-child {
    margin-right: 0;
}

.s-networks__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.s-networks__item_icon_tg .s-networks__link {
    background-image: url("img/tg.png");
}

.s-networks__item_icon_tg .s-networks__link:hover {
    background-image: url("img/tg-hover.png");
}

.s-networks__item_icon_vk .s-networks__link {
    background-image: url("img/vk.png");
}

.s-networks__item_icon_vk .s-networks__link:hover {
    background-image: url("img/vk-hover.png");
}

.s-networks__item_icon_fb .s-networks__link {
    background-image: url("img/fb.png");
}

.s-networks__item_icon_fb .s-networks__link:hover {
    background-image: url("img/fb-hover.png");
}

.s-networks__item_icon_ig .s-networks__link {
    background-image: url("img/ig.png");
}

.s-networks__item_icon_ig .s-networks__link:hover {
    background-image: url("img/ig-hover.png");
}