.footer-container, .inner-footer {
    margin-top: auto;
}

.inner-footer__container {
    padding: 45px 0;
}

.footer-container__content {
    border-top: 1px solid rgba(255,255,255,.1);
}

.footer-container__section {
    height: 120px;
    margin-top: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col_align_right {
    justify-content: flex-end;
}

.s-networks {
    margin-right: 74px;
}

.s-networks__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.s-networks__item:last-child {
    margin-right: 0;
}

.s-networks__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.s-networks__item_icon_tg .s-networks__link {
    background-image: url("/img/tg.png");
}

.s-networks__item_icon_tg .s-networks__link:hover {
    background-image: url("/img/tg-hover.png");
}

.s-networks__item_icon_vk .s-networks__link {
    background-image: url("/img/vk.png");
}

.s-networks__item_icon_vk .s-networks__link:hover {
    background-image: url("/img/vk-hover.png");
}

.s-networks__item_icon_fb .s-networks__link {
    background-image: url("/img/fb.png");
}

.s-networks__item_icon_fb .s-networks__link:hover {
    background-image: url("/img/fb-hover.png");
}

.s-networks__item_icon_ig .s-networks__link {
    background-image: url("/img/ig.png");
}

.s-networks__item_icon_ig .s-networks__link:hover {
    background-image: url("/img/ig-hover.png");
}